.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 6rem;
}

.cabecalho__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--laranja);
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--cinza);
}

#botao__mobile {
    display: none;
}

.cabecalho__navegacao-lista {
    display: flex;
    width: 30rem;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho__navegacao :visited {
    color: var(--cinza);
}

.cabecalho__navegacao-item a {
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .cabecalho {
        padding: 6rem 3rem;
        display: flex;
        justify-content: space-between;
        transition: .3s;
    }

    .cabecalho__titulo {
        font-size: 3rem;
    }

    #botao__mobile {
        display: flex;
        padding: 0 2rem 2rem 2rem;
    }

    .cabecalho__navegacao,
    .cabecalho__navegacao-lista {
        display: none;
    }
}