.conteudo {
    color: var(--cinza);
    padding: 1rem 0;
    display: flex;
}

.conteudo__divisao {
    display: flex;
    position: absolute;
    width: 45%;
    flex-direction: column;
    padding-left: 10rem;
}

.conteudo__titulo {
    font-size: 7rem;
    font-weight: 700;
    color: var(--cinza);
}

.conteudo__texto {
    width: 70%;
    font-size: 3rem;
    margin: 2.5rem 0;
}

.conteudo__botao-span {
    margin-top: 5.5rem;
}

.conteudo__botao {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 7rem;
    margin-top: 10rem;
    background-color: var(--laranja);
    color: whitesmoke;
    border-radius: 1.2rem;
}

.conteudo__botao:visited {
    color: whitesmoke
}

.imagem {
    width: 60%;
    float: right;
}