.conteudo {
    color: var(--cinza);
    padding: 1rem 0;
    display: flex;
}

.conteudo__divisao {
    position: absolute;
    display: flex;
    width: 45%;
    flex-direction: column;
    padding-left: 10rem;
}

.conteudo__titulo {
    width: 55rem;
    font-size: 7rem;
    font-weight: 700;
    color: var(--cinza);
}

.conteudo__texto {
    width: 70%;
    font-size: 3rem;
    margin: 2.5rem 0;
}

.conteudo__divisao-botao {
    display: flex;
}

.conteudo__botao {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 10rem;
    background-color: var(--laranja);
    color: whitesmoke;
    border-radius: 1.2rem;
}

.conteudo__botao:visited {
    color: whitesmoke
}

.imagem {
    width: 60%;
    float: right;
    margin-left: 46rem;
}

@media screen and (max-width:768px) {

    .conteudo {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
        order: 2;
    }

    .conteudo__divisao {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 4rem 2rem;
        text-align: center;
    }

    .conteudo__titulo {
        font-size: 3.7rem;
        width: fit-content;
    }

    .conteudo__texto {
        align-items: center;
        font-size: 1.6rem;
        width: 25rem;
    }

    .conteudo__botao {
        font-size: 2rem;
        width: 10rem;
        padding: 1.7rem 6rem;
    }

    .imagem {
        width: 80%;
        top: 10rem;
        padding: 0 10%;
        order: 1;
        margin: 0%;
    }
}